.yan-block_ui {
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 50vh;
    z-index: 99999;
    position: fixed;
    color: white;
    font-size: 26px;
    background: linear-gradient(106deg,#918c8c 0%,#2d9f9d 100%);
    opacity: 0.8;
}
